@charset "UTF-8";
/*\*/
 
/*------------------------------
サイト名：seventh avenue
作成日：2016.04.28
修正日：2016.04.28
ガイドライン：Ver.02
製作者：株式会社エムアップ
------------------------------*/


/* ------------------------------------
 * OVERRIDE
 * ------------------------------------ */

#contents { border-top: none; }

article { padding-bottom: 35px; }

h2 {
	margin: 46px 0 32px;
	background-image: url(../img/common/title_news.png);
}

.inner { min-height: auto; padding-top: 0 }



/* ------------------------------------
 * HOME
 * ------------------------------------ */

#mainVisual {
	margin: 0 auto;
	height: 380px;
	overflow: hidden;
	/*background-color: #e8f1e5;*/
}

#mainVisual div {
	display: none;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	line-height: 0;
	width: 910px;
	height: 380px;
	margin: 0 auto;
	background: url(../img/home/mainVisual.jpg) no-repeat center center;
}

@media screen and (max-width:767px) {
	#mainVisual {
		position:relative;
		width:100%;
		padding-top:41.76%;
		height:auto;
	}

	#mainVisual div {
		position:absolute;
		top:0;
		right:0;
		width:100%;
		height:100%;
		background-size:contain;
	}

	.inner {}

}

/*----- NEWS -----*/

#news {
	margin-bottom: 50px;
}

.more {
	height: 20px;
	padding: 15px 2px;
	text-align: right;
}
	
.more a {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	line-height: 0;
	display: inline-block;
	width: 84px;
	height: 20px;
	background: url(../img/common/btn_more.png) no-repeat center center;
}
.more a:hover {
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}


/*----- BANNER AREA -----*/

#bnrArea ul {
	zoom: 1;
	overflow: hidden;
	width:63%;
	margin:0 auto;
	padding:0;
}

#bnrArea ul li {
	float: left;
	width:32%;
	margin:0.5%;
}

#bnrArea ul li a,
#bnrArea ul li span {
}

#bnrArea ul li img {
	width:100%;
}



/* ------------------------------------
 * clearfix
 * ------------------------------------ */

#globalNav ul:after,
#mainVisual:after,
#main:after {
    clear: both;
    display: block;
    height: 0;r
    line-height: 0;
    font-size: 0.1em;
    content: ".";
    visibility: hidden;
}

@media screen and (max-width:767px) {
	#bnrArea ul {
		width:95%;
	}

	#bnrArea ul li {
		width:49%;
	}

}
