@charset "UTF-8";
/*\*/
 
/*------------------------------
サイト名：seventh avenue
作成日：2016.04.28
修正日：2016.04.28
ガイドライン：Ver.02
製作者：株式会社エムアップ
------------------------------*/


/* ------------------------------------
 * OVERRIDE
 * ------------------------------------ */

.nav_news a { background-position: 0 -17px; }

h2 { background-image: url(../img/common/title_news.png); }

.inner { padding: 0 40px 15px; }

.text { border-bottom: solid 1px #e2e2e2; }

/* ------------------------------------
 * NEWS
 * ------------------------------------ */

.text .photo img {
	padding: 15px 0;
}


/* ------------------------------------
 * clearfix
 * ------------------------------------ */

.clearfix:after {
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0.1em;
    content: ".";
    visibility: hidden;
}